<section class="container">
  <div class="inputs">
    <div class="input">
      <label for="studentname">First name:</label>
      <input #nameInput id="studentname" name="studentname"  type="text">
    </div>
    <div class="input">
      <label for="studentlastname">Last name:</label>

      <input #lastInput id="studentlastname" name="studentlastname"  type="text">
    </div>
    <div class="input">
      <label for="studentid">Student Id:</label>

      <input  #idInput id="studentid" name="studentid"  type="text">
    </div>

  </div>

  <div class="actions">
    <div class="action">
      <input appCustomButton [customBgColor]="'#7b1fa2'" (click)="addStudent(nameInput,lastInput,idInput)" type="submit" value="Add"/>
      <input appCustomButton type="submit" value="Reset"/>
    </div>
  </div>
</section>
