.container{
  width: 100%;
  display: flex;
  padding: 16px;
  background-color: #1976d2;
  color: white;
  border-radius: 6px;
  justify-content: space-between;
  margin-top: 4px;
  align-items: center;
  .actions{
    .action{
      margin-right: 2px;
      padding: 8px;
      background-color: #7b1fa2;
      border: none;
      color: white;
      border-radius: 4px;
      cursor: pointer;
      transition: transform 0.2s ease-in;
      text-decoration: none;
      line-height: 19px;
    }
    &
    .danger{
      background-color: #d32f2f;
    }
    :hover{
      transform: scale(1.1);
    }
  }
}
